@{
    ViewData["Title"] = "About";
}
<br />
<h2>.Net Avançado - Proposta de Projeto</h2>
<p align="right">AUTOR: PROF. M.E VICTOR DE ASSIS RODRIGUES</p>
<br />
<h4><b>ATENÇÃO: </b>As informações sobre a entrega desse projeto estão na sessão Sobre a entrega</h4>
<br />
<h4><u><b>Descrição do Projeto</u></b></h4>

<p>O objetivo do projeto é promover a criação de um site que permita alugar livros (algo parecido com uma biblioteca virtual).</p>
<p>O projeto deve conter as seguintes funcionalidades:</p>
<ul>
    <li>Cadastro de Livros;</li>
    <li>Cadastro de Autores;</li>
    <li>Cadastro de Usuários;</li>
    <li>Relacionamento Muitos-p/-Muitos entre Livro e Autor;</li>
    <li>Tela Sobre (com informações dos alunos e do projeto);</li>
    <li>Tela Inicial (com uma listagem dos livros em destaque);</li>
    <li>Carrinho;</li>
    <li>Funcionalidade p/ emprestar os livros;</li>
    <li>Listagem com os livros emprestados.</li>
</ul>

<p>Para cada cadastro (Livros, Autores e Usuários), devem ser contempladas as seguintes funcionalidades:</p>
<ul>
    <li>Tela de Pesquisa;</li>
    <li>Tela de Inclusão e/ou Edição*;</li>
    <li>Funcionalidade de Exclusão (podendo ter uma tela destinada para isso ou não);</li>
    <li>Funcionalidade para visualizar os dados do cadastro (podendo ter uma tela destinada para isso ou não).</li>
</ul>
<p>*Obs: A tela de Inclusão e Edição podem ser a mesma ou ser separadas. O padrão do MVC é que sejam separadas.</p>

<p>Os campos de cada cadastro estão ilustrados em Diagrama Relacional.</p>
<br />
<h4><u><b>Sobre a entrega</u></b></h4>
<p>Para a entrega, o aluno deve enviar o link para acesso ao código fonte no e-mail <a href="mailto:victorassisrd@gmail.com">victorassisrd@gmail.com</a> até o dia 23/10/2017.
Data de entrega: 23/10/2017
</p>
