@{
    ViewData["Title"] = "Contato";
}
<h2>FIB - MBA em Engenharia de Software.<br />Com &ecirc;nfase em aplica&ccedil;&otilde;es WEB e Mobile - Turma I</h2>
<br />
<br />
<h3>Lukas Vinicius Jacob</h3>
<br />
<br />
<address>
    Rua Itacuru&ccedil;a, 555, Casa M6<br />
    Bauru, SP 17055-250<br />
    <abbr title="Phone">+55 14 981494938</abbr>
</address>
<br />
<address>
    <strong>Suporte:</strong> <a href="mailto:lviniciusj@gmail.com">lviniciusj@gmail.com</a>
</address>
